#text1 {
    background-color: blueviolet;
    color: black;
    padding: 20px;
    cursor: pointer;
}

#text2 {
    background-color: coral;
    width: 40%;
    display: none;
    padding: 20px;
    color: black;
}

#img {
    width: 20%;
    transition: width 0.3s ease;
    cursor: pointer;
}

#caja3 {
    cursor: pointer;
}
